<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <style>
        .product_field {
            width: 20%;
            box-shadow: 0px 0px 1px;
            text-align: center;
            float: left;
            margin: 1%;
        }
    </style>
</head>
<body>
<div>
    <div class="change_page">
        <form method="POST">
            {% if page_number > 1 %}
                <input style="float:left;" type="submit" value="<" name="change_page">
            {% endif %}
            <p style="float:left;">{{ page_number }}</p>
            <input style="float:left;" type="submit" value=">" name="change_page">
        </form>
    </div>
</div>
<div>
    <div class="logout">
        <form method="POST">
             <input style="float:right;" type="submit" value="Sair" name="logout">
        </form>
    </div>
</div>

<div>
    <form method="POST">
        <input type="submit" value="MEUS FAVORITOS" name="my_favorites">
    </form>
</div>

<div>
    <div class="all_products">
        {% for product in list_products %}
            <div class="product_field" id="{{ product['id'] }}">
                {{ product['title'] }}
                <br>
                <img src = "{{ product['image'] }}" style="width:170px;height:170px;margin-left:15px;">
                <br>
                <form method="POST">
                    <input type="hidden" value="{{ product['id'] }}" name="id_produto">
                    {% if product['id'] in favoritos %}
                        <input type="submit" value="desfavoritar" name="button_favorite">
                    {% else %}
                        <input type="submit" value="favoritar" name="button_favorite">
                    {% endif %}
                </form>

                <br>
                R${{ product['price'] }}
                <br>
                {% if product['reviewScore'] %}
                    Avaliação: {{ product['reviewScore'] }}
                {% endif %}
            </div>
            <br>
        {% endfor %}
    </div>
</div>
</body>
</html>